{
  email {$CADDY_EMAIL}
}

{$WEB_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:3000 {
    header_up -X-Forwarded-For
    header_up -X-Forwarded-Host
    header_up -X-Forwarded-Proto
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
    transport http {
      dial_timeout 5s
      response_header_timeout 30s
    }
  }
}

{$API_DOMAIN} {
  encode zstd gzip
  reverse_proxy api:3001 {
    header_up -X-Forwarded-For
    header_up -X-Forwarded-Host
    header_up -X-Forwarded-Proto
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
    transport http {
      dial_timeout 5s
      response_header_timeout 30s
    }
  }
}
